<%- include ('../../views/_header.ejs') %>

    <div class="container mt-5">
        <div class="row">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                        <%  if(data){ %>
                            <form action="/wut/update/<%= data.id39 %>" method="post">

                                <div class="form-group">
                              <h6> FLOAT </h6>      <input type="text" name="z611998039" value="<%= data.z611998039 %>" class="from-control">
                                </div>

                                <div class="form-group">
                                <h6> VARCHAR </h6>    <input type="text" name="y611998039" value="<%= data.y611998039 %>" class="from-control">
                                </div>

                                <div class="form-group">
                                  <h6> INT </h6>  <input type="text" name="x611998039" value="<%= data.x611998039 %>" class="from-control">
                                </div>
                                <div class="form-group">
                                  <h6> DATE </h6>  <input type="date" name="w611998039" value="<%= new Date(data.w611998039).toISOString().split('T')[0] %>" class="from-control">
                                </div>
                                <div class="form-group">
                                  <h6> TIME </h6>  <input type="time" name="v611998039" value="<%= data.v611998039 %>" class="from-control">
                                </div>
                                <button type="submit" class="btn btn-primary"> save </button>
                                  <a href="/wut" class="btn btn-primary"> Back </a>
                            </form>
                            <%  } else { %>
                                <form action="/wut/add" method="post">
                                    <div class="form-group">
                                  <h6> FLOAT </h6>  <input type="text" name="z611998039" placeholder="z611998039" class="from-control">
                                    </div>
                                    <div class="form-group">
                                        <h6> VARCHAR </h6>   <input type="text" name="y611998039" placeholder="y611998039" class="from-control">
                                    </div>
                                    <div class="form-group">
                                      <h6> INT </h6>   <input type="text" name="x611998039" placeholder="x611998039" class="from-control">
                                    </div>
                                    <div class="form-group">
                                      <h6> DATE </h6>    <input type="date" name="w611998039" placeholder="w611998039" class="from-control">
                                    </div>
                                    <div class="form-group">
                                    <h6> TIME </h6>    <input type="time" name="v611998039" placeholder="v611998039" class="from-control">
                                    </div>
                                    <button type="submit" class="btn btn-success"> save </button>
                                      <a href="/wut" class="btn btn-primary"> Back </a>
                                </form>
                                <%   } %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
