<%- include("../../views/_header")%>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <form action="/wut/wut2/<%= data.id39 %>" method="post">
                      <div class="form-group">
                        <h6> FLOAT </h6>     <input type="text" name="z611998039" value=" <%= data.z611998039 %>" class="from-control">
                      </div>
                      <div class="form-group">
                      <h6> VARCHAR </h6>      <input type="text" name="y611998039" value=" <%= data.y611998039 %>" class="from-control">
                      </div>
                      <div class="form-group">
                            <h6> INT </h6>   <input type="text" name="x611998039" value=" <%= data.x611998039 %>" class="from-control">
                      </div>
                      <div class="form-group">
                        <h6> DATE </h6>      <input type="text" name="w611998039" value=" <%= data.w611998039.toLocaleDateString() %>" class="from-control">
                      </div>
                      <div class="form-group">
                      <h6> TIME </h6>       <input type="text" name="v611998039" value=" <%= data.v611998039 %>" class="from-control">
                      </div>

                    <a href="/wut/delete/<%= data.id39 %>" class="btn btn-danger"> Delete</a>
                      <a href="/wut" class="btn btn-primary"> Back </a>

                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../views/_footer")%>
