<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <% if (data) { %>
                        <form action="/s611998006/update/<%= data.id06 %>" method="POST">

                        <div class="form-group">
                        Z611998006 <input type="text"
                        name="z611998006"
                        value="<%= data.z611998006 %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Y611998006 <input type="text"
                        name="y611998006"
                        value="<%= data.y611998006 %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        X611998006 <input type="text"
                        name="x611998006"
                        value="<%= data.x611998006 %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        W611998006 <input type="date"
                        name="w611998006"
                        value="<%=new Date(data.w611998006).toISOString().split('T')[0]%>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        V611998006 <input type="time"
                        name="v611998006"
                        value="<%= data.v611998006 %>"
                        class="form-control">
                        </div>


                        <button type="submit"
                        class="btn btn-success">Save</button>
                        <a href="/s611998006" class="btn btn-primary"> Back </a>
                        </form>

                    <% } else { %>

                        <form action="/s611998006/add" method="POST">

                        <div class="form-group">
                        Z611998006 <input type="text"
                        name="z611998006"
                        placeholder="Float"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Y611998006 <input type="text"
                        name="y611998006"
                        placeholder="Varchar"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        X611998006 <input type="text"
                        name="x611998006"
                        placeholder="Int"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        W611998006 <input type="date"
                        name="w611998006"
                        placeholder="Date"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        V611998006 <input type="time"
                        name="v611998006"
                        placeholder="Time"
                        class="form-control">
                        </div>
                        <button type="submit"
                        class="btn btn-success">Save</button>
                        <a href="/s611998006" class="btn btn-primary"> Back </a>

                        </form>
                    <% } %>
                </div>
            </div>
        </div>
</div>
<%- include ("../../views/_footer") %>
