<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998006/delete/<%= data.id06 %>" method="POST">

            <div class="form-group">
                <h5><font color=#0000>Z - Float = <%= data.z611998006%></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>Y - Varchar = <%= data.y611998006%></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>X - Int = <%= data.x611998006%></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>W - Date = <%= data.w611998006.toISOString().split('T')[0] %></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>V - Time = <%= data.v611998006 %></font></h5>
            </div>
            <a href="/s611998006/deleteNow/<%= data.id06%>" class="btn btn-danger"> DELETE </a>
            <a href="/s611998006" class="btn btn-primary"> Back </a>

            </form>
    </div>
</div>
<%- include ("../../views/_footer") %>
