<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998032/delete/<%= data.id %>" method="POST">

            <div class="form-group">
                <h5><font color=#0000>Z - Float = <%= data.z611998032%></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>Y - Varchar = <%= data.y611998032%></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>X - Int = <%= data.x611998032%></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>W - Date = <%= data.w611998032.toISOString().split('T')[0] %></font></h5>
            </div>
            <div class="form-group">
                <h5><font color=#0000>V - Time = <%= data.v611998032 %></font></h5>
            </div>
              <a href="/s611998032/deleteNow/<%= data.id32%>" class="btn btn-danger"> DELETE </a>
            <a href="/s611998032" class="btn btn-primary"> Back </a>

            </form>
    </div>
</div>
<%- include ("../../views/_footer") %>
