<%- include ("../../views/_header") %>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/s611998032/new" class="btn btn-success"> ADD </a>
                <br></br>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>Z611998032</th>
                            <th>Y611998032</th>
                            <th>X611998032</th>
                            <th>W611998032</th>
                            <th>V611998032</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td> <%= (i+1) %> </td>
                                    <td> <%= data[i].z611998032 %> </td>
                                    <td> <%= data[i].y611998032 %> </td>
                                    <td> <%= data[i].x611998032 %> </td>
                                    <td> <%= data[i].w611998032.toISOString().split('T')[0]%> </td>
                                    <td> <%= data[i].v611998032 %> </td>
                                    <td>
                                         <a href="/s611998032/delete/<%= data[i].id32%>" class="btn btn-danger"> Delete </a>
                                       <a href="/s611998032/update/<%= data[i].id32%>" class="btn btn-info"> Update </a> </td>
                                </tr>
                            <%  } %>
                       <%  } %>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../../views/_footer") %>
