<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Group4 </title>

    <link rel="stylesheet" href="/bootstrap.min.css" </head>

    <body>



        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="nav-link" href="/home"> HOME <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/wut"> WUT <span class="sr-only">(current)</span></a>


                    </li>
                    <li class="nav-item active">

                        <a class="nav-link" href="/oat"> OAT <span class="sr-only">(current)</span></a>

                    </li>

                  </li>
                  <li class="nav-item active">

                      <a class="nav-link" href="/s611998006"> OOO <span class="sr-only">(current)</span></a>

                  </li>
                  <li class="nav-item active">

                      <a class="nav-link" href="/s611998032"> ARM <span class="sr-only">(current)</span></a>

                  </li>

                  <li class="nav-item active">

                      <a class="nav-link" href="/logout"> LOGOUT <span class="sr-only">(current)</span></a>

                  </li>

                  </li>
                  </div>

                <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

         <% if(session.success==false){ %>
         <% for(var i=0;i<session.errors.errors.length;i++){ %>
         <div class="alert alert-danger" role="alert">
         <%= session.errors.errors[i]["msg"] %>
         </div>
         <%   } session.success=null; } %>

          <% if(session.success==true){ %>
           <div class="alert alert-success" role="alert">
             <%= session.topic %>
          </div>
        <%   } session.success=null;  %>
