<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Group4
     </title>

    <link rel="stylesheet" href="/bootstrap.min.css" </head>

    <body>



        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="nav-link" href="">  <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">


    </div>
</nav>

         <% if(session.success==false){ %>
         <% for(var i=0;i<session.errors.errors.length;i++){ %>
         <div class="alert alert-danger" role="alert">
         <%= session.errors.errors[i]["msg"] %>
         </div>
         <%   } session.success=null; } %>

          <% if(session.success==true){ %>
           <div class="alert alert-success" role="alert">
             <%= session.topic %>
          </div>
        <%   } session.success=null;  %>

<div class="col-md-5">
<div class="col-md-1">
</div>

<form action="/login" method="post">
                  <img src="https://borlabs.io/wp-content/uploads/2019/09/blog-wp-login.png" alt="" class="center" width="650" height="230">
                  <fieldset>
                      <div class="form-group">
                      <p align="center">  <label for="exampleInputUsername" class="btn btn-success"> Username :</label>
                    <input type="text" name="username" class="from-control" id="exampleInputUsername" placeholder="Enter Username"> </p>
                      </div>
                      <div class="form-group">
                    <p align="center">         <label for="exampleInputPassword1" class="btn btn-success"> Password :</label>
                          <input type="password" name="password" class="from-control" id="exampleInputPassword1" placeholder="Password"></p>
                      </div>
                      <p align="center">  <button type="submit" class="btn btn-info">LOGIN</button> </p>
                  </fieldset>
              </form>

              </div>

<%- include ( '../views/_footer.ejs') %>
