<%- include("../../views/_header")%>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <form action="/oat/oat2/<%= data.id03 %>" method="post">
                      <div class="form-group">
                        <h6> FLOAT  : <%= data.z611998003 %></h6>
                      </div>
                      <div class="form-group">
                      <h6> VARCHAR  : <%= data.y611998003 %></h6>
                      </div>
                      <div class="form-group">
                            <h6> INT    : <%= data.x611998003 %></h6>
                      </div>
                      <div class="form-group">
                        <h6> DATE    : <%= data.w611998003.toLocaleDateString() %></h6>
                      </div>
                      <div class="form-group">
                      <h6> TIME   : <%= data.v611998003 %></h6>
                      </div>

                    <a href="/oat/delete/<%= data.id03 %>" class="btn btn-danger"> Delete</a>
                      <a href="/oat" class="btn btn-primary"> Back </a>

                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../views/_footer")%>
