<%- include ('../../views/_header.ejs') %>

    <div class="container mt-5">
        <div class="row">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                        <%  if(data){ %>
                            <form action="/oat/update/<%= data.id03 %>" method="post">

                                <div class="form-group">
                              <h6> FLOAT </h6>      <input type="text" name="z611998003" value="<%= data.z611998003 %>" class="from-control">
                                </div>

                                <div class="form-group">
                                <h6> VARCHAR </h6>    <input type="text" name="y611998003" value="<%= data.y611998003 %>" class="from-control">
                                </div>

                                <div class="form-group">
                                  <h6> INT </h6>  <input type="text" name="x611998003" value="<%= data.x611998003 %>" class="from-control">
                                </div>
                                <div class="form-group">
                                  <h6> DATE </h6>  <input type="text" name="w611998003" value="<%= new Date(data.w611998003).toISOString().split('T')[0] %>" class="from-control">
                                </div>
                                <div class="form-group">
                                  <h6> TIME </h6>  <input type="text" name="v611998003" value="<%= data.v611998003 %>" class="from-control">
                                </div>
                                <button type="submit" class="btn btn-primary"> save </button>
                                  <a href="/oat" class="btn btn-primary"> Back </a>
                            </form>
                            <%  } else { %>
                                <form action="/oat/add" method="post">
                                    <div class="form-group">
                                  <h6> FLOAT </h6>  <input type="text" name="z611998003" placeholder="z611998003" class="from-control">
                                    </div>
                                    <div class="form-group">
                                        <h6> VARCHAR </h6>   <input type="text" name="y611998003" placeholder="y611998003" class="from-control">
                                    </div>
                                    <div class="form-group">
                                      <h6> INT </h6>   <input type="text" name="x611998003" placeholder="x611998003" class="from-control">
                                    </div>
                                    <div class="form-group">
                                      <h6> DATE </h6>    <input type="date" name="w611998003" placeholder="w611998003" class="from-control">
                                    </div>
                                    <div class="form-group">
                                    <h6> TIME </h6>    <input type="time" name="v611998003" placeholder="v611998003" class="from-control">
                                    </div>
                                    <button type="submit" class="btn btn-success"> save </button>
                                      <a href="/oat" class="btn btn-primary"> Back </a>
                                </form>
                                <%   } %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
