<%- include("../../views/_header") %>



    <div class="container">
        <div class="row mt-5">


            <div class="col-md-9">
                <a href="/oat/new" class="btn btn-success">ADD</a>

                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th style="border: 2px solid ;"> No </th>
                            <th style="border: 2px solid ;"> z611998003 </th>
                            <th style="border: 2px solid ;"> y611998003 </th>
                            <th style="border: 2px solid ;"> x611998003 </th>
                            <th style="border: 2px solid ;"> w611998003 </th>
                            <th style="border: 2px solid ;"> v611998003 </th>
                            <th style="border: 2px solid ;"> Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  if(data){ %>
                            <%  for(var i= 0; i< data.length;i++){ %>
                                <tr>
                                    <td style="border: 2px solid ;">
                                        <%= (i+1) %>
                                    </td>
                                    <td style="border: 2px solid ;">
                                        <%= data[i].z611998003 %>
                                    </td>
                                    <td style="border: 2px solid ;">
                                        <%= data[i].y611998003 %>
                                    </td>
                                    <td style="border: 2px solid ;">
                                        <%= data[i].x611998003 %>
                                    </td>
                                    <td style="border: 2px solid ;">
                                        <%= data[i].w611998003.toLocaleDateString() %>
                                    </td>
                                    <td style="border: 2px solid ;">
                                        <%= data[i].v611998003 %>
                                    </td>
                                    <td style="border: 2px solid ;">

                                        <a href="/oat/oat2/<%= data[i].id03 %>" class="btn btn-danger"> Delete</a>
                                        <a href="/oat/update/<%= data[i].id03 %>" class="btn btn-info"> Update</a>

                                    </td>
                                    <%  } %>
                                    <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include("../../views/_footer")%>
